@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Special paddings/margins/text*/

body {
    margin: 0;
    padding: 0;
    border: 0;
}

/*--------------------------------------------Header*/

header {
    height: 130px;
    background-color: #eaeaea;
    font-family: "Montserrat", sans-serif;
    color: #001f3f;
    cursor: default;
}

#name-logo {
    margin: 0;
    padding: 20px 0 0 40px;
    letter-spacing: 4px;
    font-weight: 600;
    float: none;
}

/*--------------------------------------------Navigation Menu*/

#nav-bar {
    list-style-type: none;
    letter-spacing: 2px;
}

#nav-bar li {
    float: right;
    margin-right: 16px;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#nav-bar a:hover {
    text-decoration: underline;
}

/*--------------------------------------------About Me*/

#about-me {
    height: 700px;
    background-color: #eaeaea;
    color: #001f3f;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    cursor: default;
}

#about-me h2 {
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 2em;
}

#left-about {
    width: 30%;
    float: left;
    text-align: center;
}

#circle-container {
    margin-top: 1em;
    margin-left: 20em;
    border: 2px solid black;
    border-radius: 50%;
    height: 360px;
    width: 360px;
}

#circle-container img {
    border-radius: 50%;
    box-shadow: 32px 32px 32px #9c9c9c;
    
}

#right-about {
    width: 50%;
    float: right;
    margin-right: 6em;
    text-align: center;
    margin-top: 1em;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

#right-about p {
    padding: 0 30px;
    color: #4e4e4e;
}
/*--------------------------------------------Experience*/

#experience {
    height: 750px;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    background-color: #eaeaea;
    cursor: default;
}

#experience h2 {
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 2em;
}

/*--------------------------------------------Timeline*/

#timeline-section {
    float: left;
    width: 33%;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
}

#timeline-section h3 {
    font-family: "Montserrat", sans-serif;
    margin-left: 2em;
    color: #4e4e4e;
    letter-spacing: 2px;
    font-weight: 600;
}

/*---Timeline tutorial https://courses.codeinstitute.net/courses/course-v1:codeinstitute+FE+2017_T3/courseware/616289d66b5641a3808cc43e53842695/a3bcedac97ea4678953a75f07ffd6931/?activate_block_id=block-v1%3Acodeinstitute%2BFE%2B2017_T3%2Btype%40sequential%2Bblock%40a3bcedac97ea4678953a75f07ffd6931*/

.timeline-item {
    padding: 3em 0em 0em 1em;
    margin-left: 1em;
    position: relative;
    color: #4e4e4e;
    border-left: 1px solid #4e4e4e;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item i {
    cursor: pointer;
    font-size: 1em;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.timeline-item i:hover {
    transform: scale(1.5);
}

.timeline-item:before {
    content:attr(data-dates);
    position: absolute;
    left: 1.5em;
    top: 3em;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #4e4e4e;
}

/*--------------------------------------------Employment Details*/

.hidden {
    display: none;
}

.show {
    display: initial; 
}

#employment-detail {
    float: left;
    width: 33%
}

#employment-detail h3 {
    font-family: "Montserrat", sans-serif;
    margin-left: 2em;
    color: #4e4e4e;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
}

#employment-detail h4 {
    font-family: "Roboto", sans-serif;
    color: #4e4e4e;
    text-align: center;
}

#employment-detail p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

/*--------------------------------------------Map*/

#map {
    margin-right: 1.5em;
    min-height: 360px;
    float: right;
    width: 30%;
    box-shadow: 32px 32px 32px #9c9c9c;
    border: 2px solid #4e4e4e;
    border-radius: 5px;
}

/*--------------------------------------------Footer*/

footer {
    height: 130px;
    background-color: #eaeaea;
    font-family: "Montserrat", sans-serif;
    color: #001f3f;
    cursor: default;
}

#social {
    float: left;
    margin-left: 10%;
    text-align: center
}

#social h3 {
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 1.2em;
}

#social-icons {
    list-style-type: none;
    font-size: 1.5em;
}

#social-icons li {
    display: inline;
    margin-right: 60px;
}

#social-icons li a {
    color: #4e4e4e;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#social-icons li a:hover {
    color: #c0c0c0;
}

#cv-download {
    float: right;
    margin-right: 10%;
    text-align: center;
}

#cv-download h3 {
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 1.2em;
}

#cv-download a {
    font-size: 1.5em;
    color: #4e4e4e;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#cv-download a:hover {
    color: #c0c0c0;
}